@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.font-manrope {
    font-family: "Manrope", sans-serif;
}

* {
    font-family: "Manrope", sans-serif;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #f6f6f6;
}


/* common style */
.common-paragraph-light {
    color: rgb(115, 115, 115);
    font-size: 1rem;
    font-weight: 500;
}
.common-paragraph-dark {
    color: rgb(73, 73, 73);
    font-size: 1rem;
    font-weight: 500;
}

.common-title {
    color: rgb(33, 33, 33);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 55px;
}

.common-subtitle {
    color: rgb(73, 73, 73);
    font-size: 20px;
    font-weight: 800;
}